// Variables

azul =  #39A4DD
rojo = #E4003A
amarillo = #FFEE00
gris_light = #EDEDED
gris_medium = #878787
gris_dark = #514742
primary_text = #514742
blanco = #ffffff
negro = #000
magenta = #af004d
verde = green
purpura = purple


// amarillo_banner #FFee00
// Bronce #715200  #4F3900
//Oro #F9AE00  #F39200
// Plata  #565B5D #454A4B


// Media

b1 = 30em // 480px
b2 = 48em // 768px
b3 = 64em // 1024px
b4 = 75em // 1200px