// Variables

azul =  #39A4DD
rojo = #E4003A
amarillo = #FFEE00
gris_light = #EDEDED
primary_text = #514742
negro = #000
magenta = #af004d
blanco = #ffffff
gris_medium = #575756
gris_dark = #343333
verde = #7ea855
verde_dark = #618342
purpura = #930050


// Media

b1 = 30em // 480px
b2 = 48em // 768px
b3 = 64em // 1024px
b4 = 75em // 1200px