.btn__ver-mas
	a
		display inline-block
		text-decoration none
		font-size 1em
		font-weight bold
		color blanco
		background purpura
		padding 10px 40px
		border-radius 5px
		box-shadow 4px 4px 20px 0px rgba(50, 50, 50, 0.4)
		&:active
			box-shadow 0 0 0
			padding 9px 29px
		
.btn__contacto
	padding 40px 0
	@extend .btn__ver-mas
	font-size 2em
	a
		padding 25px 60px
		&:active
			box-shadow 0 0 0
			padding 18px 38px
		
