.btn__ver-mas
	a
		display inline-block
		text-decoration none
		font-size 1em
		font-weight bold
		color blanco
		background purpura
		padding 10px 30px
		border-radius 8px
		box-shadow 4px 4px 20px 0px rgba(50, 50, 50, 0.4)
		
.btn__contacto
	padding 20px 0
	@extend .btn__ver-mas
	font-size 2em
	a
		padding 20px 40px
		
