//edit()

/**
	padding 0
	margin 0
*/

/* ==============
    Styles
   ============== */

body
	font 16px/26px Helvetica, Helvetica Neue, Arial
	//center(800px)
	
/* ==============
    All: Themes
   ============== */


/* ==============
    WIDE: Menu
   ============== */


header
	position fixed
	top 0
	.header
		.logo
			float left
			padding 15px 0
			img
				width 320px
		nav
			float right
			margin-top 20px
					
			ul
				padding 0
				margin 0
				list-style none
				text-align center
				li
					display inline-block
					a
						display block
						padding 10px 30px
						
						border-radius 10px
						
						text-decoration none
						font-size 1.5em
						color negro
						letter-spacing 1.5px
						
						&:hover
							background verde
							color blanco
							box-shadow 4px 4px 20px 0px rgba(50, 50, 50, 0.4)
							
						

/* ==============
    WIDE: Main
   ============== */
.main
	padding-top 50px
	margin-top 90px
	text-align center
	//padding 80px 0px
	article 
		width 69%
		float left
		img
			padding-top 40px
			display inline
	.contact__form
		background white
		width 29%
		float right
		padding 20px 40px
		box-shadow 7px 7px 5px 0px rgba(50, 50, 50, 0.75)
		box-sizing border-box
.flota
	background gris_medium
	//position relative
	//top 0	px
	img
		width 100%
	
.que_hacemos
	//position relative
	//top -10px
	text-align center
	padding-bottom 50px
	
.somos_portada
	//position relative
	//bottom 80px
	width 1415px
	img
		width 100%

.servicios
	text-align center
	padding-bottom 30px 
	
	.servicios__info
		width 1200px
		margin 0 auto
		h2
			line-height 1
		> p
			width 70%
			margin 0 auto
			
	.servicios__item
		width 1200px
		height auto
		overflow hidden
		margin 0 auto
		padding 60px 0
		.servicio
			text-align center
			width 33.33%
			float left
			img
				border-radius 50%
				margin-bottom 5%
			h3
				color gris_medium
				padding 10px
				margin 20px
			p
				width 80%
				padding-bottom 20px
				margin 0 auto
				
.contacto
	text-align center
	padding 20px 0
	p
		width 80%
		margin 0 auto
		padding-bottom 10px

/* ==============
    WIDE: Footer
   ============== */

footer
	.pie
		float left
		margin-left 475px
		padding 20px 0
		a
			text-align center
			color blanco
			text-decoration none
			font-size 0.9em
	.social
		float right
		text-align center
		margin-top 30px
		margin-left 10px
		display inline
		a
			margin 5px
			



/* ======================
    WIDE: Main Turismo
   ====================== */

.servicios.nr-max-width
	padding-top 60px

article.turismo
	width 67%
	margin 0 auto
	img
		width 80%
	p
		display inline-block
		width 80%

.flota.turismo
//	position relative
//	top -10px
.que_hacemos.turismo
//	position relative
//	top -20px

.somos_turismo
//	position relative
//	top 75px
	width 1415px
	img
		width 100%

.servicios
	.servicios__info.turismo
		padding-top 80px
		> p
			width 100%

.servicios__item.turismo
		width 1200px
		height auto
		overflow hidden
		margin 0 auto
		padding-top 60px 0
		.servicio
			background white
			text-align center
			width 30.5%
			margin 0px 15px
			float left
			img
				width 100%
				border-radius 0%
				margin-bottom 5%
				
			.servicio-position
				position relative
				bottom 70px
				h3
					display block
				p
					width 81%
				small
					display inline-block
					color red
		.btn__contacto
			clear both

table.normal
	width 90%
	margin 0 auto
	font-family helvetica
	font-size 1em
	text-align left
	


/* ======================
    WIDE: Main Ejecutivo
   ====================== */


article.ejecutivo
	width 67%
	margin 0 auto
	img
		width 80%
	p
		display inline-block
		width 80%

.flota_lujo
	background white
	img
		width 100%

.somos_lujo
	img
		width 100%


.servicios__item.ejecutivo
		width 1200px
		height auto
		overflow hidden
		margin 0 auto
		padding 60px 0
		.servicio
			background white
			text-align center
			width 30.5%
			margin 0px 15px
			float left
			img
				width 100%
				border-radius 0%
				margin-bottom 5%
				
			.servicio-position.ejecutivo
				position relative
				bottom 60px
				
				h3
					//bottom 500%
					//botonn 10px
					//left 40px
					color purpura
					padding 10px
					margin 20px
					display block
					//width 25%
				p
					width 90%
					padding-bottom 20px
					margin 0 auto
				small
					display inline-block
					margin 20px
			
		.btn__contacto
			clear both
			


.servicio-position.ejecutivo
	p
		span
			font-weight bold
			color purpura


/* ======================
    WIDE: Main Transporte
   ====================== */

article.transporte
	width 67%
	margin 0 auto
	img
		width 80%
	p
		display inline-block
		width 80%
		
.somos_transporte
	img
		width 100%









		