.title
	font-family lobster
	line-height 1em
	font-weight 500
	margin 20px 0px
	&--main
		font-size 5em
		display inline
	&--sub2
		font-size 3.9em
	&--sub3
		font-size 2.5em

h4
	font-size 1em
	color blanco

h5 
	font-size 3em
	color morado

/*font
LOBSTER
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;


*/		

//bg--black
//.arrodown--white  .arrowdown--black
