h1
	font-family lobster
	font-size 5em
	font-weight 500
	line-height 1em
	color blanco
	display inline
	
h2
	font-family lobster
	font-size 3.5em
	font-weight 500
	line-height 1em
	color blanco
h3
	font-family lobster
	font-size 2.5em
	font-weight 500
	line-height 1em
	color blanco
h4
	font-size 1em
	color blanco

h5 
	font-size 3em
	color morado

	

/*font
LOBSTER
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;


*/		
