.contact__form
		
	.contact__information
		margin-top 20px
		.fono
			font-size 2.5em
			color purpura
			line-height 1em
		p
			display inline
	.contact__formulario
		
		form
			label
				display none
			input, textarea
				display block
				width 100%
				margin 8px 0
				border-radius 8px
				-webkit-box-sizing border-box
				-moz-box-sizing border-box
				box-sizing border-box 
				
			input[type="text"]	
				padding 5px
			
			textarea[type="nombre"]
				padding 5px
				height 140px
				max-height 140px
				max-width 100%
				
			.form__submit
				input[type="submit"]
					padding 15px
					color blanco
					font-size 1.5em
					font-weight bold
					background purpura
					box-shadow 4px 4px 20px 0px rgba(50, 50, 50, 0.4)
					
				

				
			
	
	