.contact__form
	.contact__information
		.fono
			font-size 3em
			color purpura
			font-weight bold
			line-height 1em
		p
			display inline
	.contact__formulario
		form
			label
				display none
			input, textarea
				display block
				width 100%
				margin 10px 0
				border-radius 8px
				box-sizing border-box 
				
			input[type="text"]	
				padding 13px 10px
				font-size 0.9em
			
			textarea[type="nombre"]
				padding 10px
				font-size 0.9em
				
				height 150px
				max-height 150px
				max-width 100%
				
			.form__submit
				input[type="submit"]
					width 99%
					padding 15px
					color blanco
					font-size 1.5em
					font-weight bold
					background purpura
					box-shadow 4px 4px 20px 0px rgba(50, 50, 50, 0.4)
					&:active
						box-shadow 0 0 0
						padding 13px
					
				

				
			
	
	