<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Ejecutivo
	link(rel="stylesheet", href="style.css")
	link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic', rel='stylesheet', type='text/css')
body
	include header.jade
	main.main.nr-max-width.bg--gris-medium.ejecutivo
		div.wrap
			article.ejecutivo
				h2.title.title--sub2.text--blanco Autos de lujo para ejecutivos de lujo
				img(src="img/banner_lujo.jpg", alt="portada transfields")
				p.text--important2.text--blanco Sus altos ejecutivos, socios e invesores perecen sentirse especiales. Bríndeles la mejor atencion, transportándolos en vehículos de primer nivel.
			.contact__form.ejecutivo
				.contact__information
					p Llámanos
					.fono
						p 56 226961510
						p.small Cel 990007317
					p o escríbenos
				.contact__formulario
					form(action="mailer.php", method="POST", class="form")
						.form__group
							label(for="nombre") Nombre
							input(type="text", name="nombre", id="nombre", placeholder="Tu nombre")
						.form__group
							label(for="correo") Email
							input(type="correo", name="correo", id="correo", placeholder="Tu email")
						.form__group
							label(for="telefono") Telefono
							input(type="text", name="telefono", id="telefono", placeholder="Tu teléfono")
						.form__group
							label(for="mensaje") Mensaje
							textarea(name="mensaje", cols="10", rows="5", id="mensaje", placeholder="Tu Mensaje")
						.form__submit
							input(type="submit", value="Cotiza")
						#form-messages

	section.flota_lujo.nr-max-width
		img(src="img/ventajas_lujo.png", alt="")
			
	section.que_hacemos.nr-max-width.bg--blanco.ejecutivo
		div.wrap
			h2.title.title--sub2.text--negro ¿Que hacemos?
			br
			p.text--white Transportamos a tus altos ejecutivos al destino que tu prefieras para lo cual contamos con una amplia flota acorde a todo tipo de necesidad desde vehículos Sedan modernos para pocos pasajeros, amplias Vans que nos permiten recoger a un grupo mediano o incluso buses de primera que te permitan transportar con comodidad a toda una delegacion.
	
	section.somos_lujo.nr-max-width.bg--blanco
		img(src="img/somos_lujo.jpg", alt="servicios empresariales")

	section.servicios.nr-max-width.bg--blanco
		div.wrap
			.servicios__info.ejecutivo
				h2.title.title--sub2 ¿Porque elegirnos?
				br
				p Porque tu y tus altos ejecutivos son una prioridad para nosotros y nos comprometemos con brindar el mejor servicio.
				p Contamos con autos modernos y un equipo humano gentil y altamente capacitado.

			.servicios__item.ejecutivo
				.servicio
					img(src="img/paquete1_lujo.jpg", class="image-responsive", alt="servicio ejecutivo")
					.servicio-position.ejecutivo
						h3.title.title--sub3 Santiago
						
						p Servicio aeropuerto-hotel, hasta 6 personas cómodas
						br/
						p $80.000<span> US$112
				.servicio
					img(src="img/paquete2_lujo.jpg", class="image-responsive", alt="servicio de transporte")
					.servicio-position.ejecutivo
						h3.title.title--sub3 Viña del Mar
						p Santiago-Viña-Santiago por el día, hasta 6 personas cómodas
						br/
						p $320.000<span> US$448

				.servicio
					img(src="img/paquete3_lujo.jpg", class="image-responsive", alt="servicio de turismo")
					.servicio-position.ejecutivo
						h3.title.title--sub3 Cordillera
						p Santiago-Colorado, la Parva, Valle Nevado-Santiago por el día, hasta 6 personas cómodas
						p $320.000<span> US$448
						
				.btn__contacto
					a(href="#") Cotiza
		include footer.jade

