footer.nr-max-width.bg--negro
	.footer.wrap
		.pie
			a(href="http://dilodigital.com", target="blank")
				p Diseño y Plan de Marketing - Dilo Digital

		.social
			a(href="#")
				img(src="img/social_facebook.png", alt="facebook transfields", width="15", height="30")
			a(href="#")
				img(src="img/social_twitter.png", alt="youtube transfields", width="30", height="30")
			a(href="#")
				img(src="img/social_instagram.png", alt="instagram transfields", width="30", height="30")