header.nr-max-width.bg--blanco
	.header.wrap
		.logo
			a(href="http://transfields.com")
				img(src="img/transfields_logo.png", alt=" transfields")
		nav
			ul
				li: a(href="http://transfields.com/pago.html") Métodos de Pago
				li: a(href="#", target="blank") Contacto