.header-container
	header.wrap.clearfix
		.logo
			a(href="http://transfields.com")
				img(src="img/transfields_logo.png", alt=" transfields")
		nav
			ul
				li: a(href="#", target="blank") Servicios
				li: a(href="#", target="blank") Contacto