<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Transfields
	link(rel="stylesheet", href="style.css")
	link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic', rel='stylesheet', type='text/css')
body
	include header.jade
	include section.jade
	include footer.jade

	//- script(src='js/analytics.js')

	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type='text/javascript', charset='utf-8')
	//-script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
	script(src='js/main.js')
	script(type='“text/javascript”', src='“js/jquery-2.1.4.js”')
	script(type='“text/javascript”', src='“js/jquery.scrollTo.js”')
	