main
	article
		.principal__box
			img(src="img/portada.png", class="img-responsive", alt="portada transfields")
			h1 Contrata ya el vehículo que necesitas
			h3 Contamos con unidades para todo tipo de necesidad en el rubro turístico y empresarial
			
		.contact__form
			.contact__information
				p Llámanos
				.fono
					p 9 000 7317
				p o escríbenos

			.contact__formulario
				form(action="", method="POST", class="form")
					.form__group
						label(for="nombre") Nombre
						input(type="text", name="nombre", id="nombre", placeholder="Tu nombre")
					.form__group
						label(for="nombre") Email
						input(type="text", name="nombre", id="nombre", placeholder="Tu email")
					.form__gorup
						label(for="nombre") Telefono
						input(type="text", name="nombre", id="nombre", placeholder="Tu teléfono")
					.form__group
						label(for="nombre") Mensaje
						textarea(type="nombre", name="nombre", id="nombre", placeholder="Tu Mensaje")
					.form__submit
						input(type="submit", value="Contáctanos")
.flota-box
	.flota
		h3 Conductores expertos
		h3 Autos modernos
		h3 Calidad y confort

.que_hacemos-box
	.que_hacemos
		h2 ¿Que hacemos?
		p Amamos los autos y cada rincón de Chile es por ello que nos dedicamos mas que al transporte de pasajeros a COMPARTIR EXPERIENCIAS. Chile es un país maravilloso lleno de cultura y tradición a la que nos encantará acercarte. Contamos con recorridos turísticos con rutas muy bien pensadas que harán que tu visita a Chile sea inolvidable. Brindamos además servicios empresariales de transporte de pasajeros y una selecta flota para ejecutivos de alto nivel.
.autos_section
	img(src="img/que_hacemos.png", class="img-responsive", alt="servicios empresariales")

.nuestros_servicios-box
	.nuestros_servicios
		.servicios_info
			h2 Nuestros Servicios
			p "Uno de los grandes errores que comete la gente es tratar de forzar su interés. Tú no eliges tus pasiones, tus pasiones te eligen a ti."
			br/
			p Jeff Bezos: Fundador y CEO de Amazon.

		.servicios_box
			.servicio.ejecutivo
				img(src="img/servicio_ejecutivo.png", class="image-responsive", alt="servicio ejecutivo")
				h3 Línea Ejecutiva
				p Tus altos ejecutivos merecen un trato especial, para ello contamos con una exclusiva flota de Remisse.
				.btn__vermas
					a(href="#") Ver más


			.servicio.ejecutivo
				img(src="img/servicio_transporte.png", class="image-responsive", alt="servicio de transporte")
				h3 Turismo
				p Chile y sus misterios te esperan, tenemos recorridos espectaculares que no quieres perder.
				.btn__vermas
					a(href="#") Ver más

			.servicio.ejecutivo
				img(src="img/servicio_turismo.png", class="image-responsive", alt="servicio de turismo")
				h3 Transporte
				p Si necesitas desplazar a un grupo de personas contamos con vehículos para todo tipo de necesidad
				.btn__vermas
					a(href="#") Ver más
.contacto-box
	.contacto
			h2 ¿Por qué elegirnos?
			p Porque tu estás en primer lugar para nosotros y nuestra misión es brindarte una experiencia más que inolvidable, es por ello que contamos con un personal muy atento además de una flota moderna y confortable. No esperes más tiempo, ¡CONTÁCTANOS!
			.btn__contacto
				a(href="#") Contáctanos