<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Transporte
	link(rel="stylesheet", href="style.css")
	link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic', rel='stylesheet', type='text/css')
body
	include header.jade
	main.main.nr-max-width.bg--verde
		div.wrap
			article.transporte
				h2.title.title--main.text--blanco Escoje tu destino
				img(src="img/banner_transporte.png", class="img-responsive", alt="portada transfields")
				p.text--important2.text--blanco Llega a donde guste, te llevaremos con con el mayor de los gustos. Ten la completa tranquilidad de que llegaras a tu destino sin preocupacionesy con la mayor de las comodidades.
			.contact__form
				.contact__information
					p Llámanos
					.fono
						p 56 226961510
					p o escríbenos
				.contact__formulario
					form(action="", method="POST", class="form")
						.form__group
							label(for="nombre") Nombre
							input(type="text", name="nombre", id="nombre", placeholder="Tu nombre")
						.form__group
							label(for="nombre") Email
							input(type="text", name="nombre", id="nombre", placeholder="Tu email")
						.form__gorup
							label(for="nombre") Telefono
							input(type="text", name="nombre", id="nombre", placeholder="Tu teléfono")
						.form__group
							label(for="nombre") Mensaje
							textarea(type="nombre", name="nombre", id="nombre", placeholder="Tu Mensaje")
						.form__submit
							input(type="submit", value="Contáctanos")

	section.flota.nr-max-width.bg--verde-dark
		img(src="img/ventajas_transporte.png", alt="")

	section.que_hacemos.nr-max-width.bg--blanco
		div.wrap
			h2.title.title--sub2.text--gris-dark ¿Que hacemos?
			p.text--gris-medium Transportamos más que pasajeros, a amigos que están a nuestro cuidado. Contamos con una amplia flota a tu disposición a la altura de diferentes necesidades, como diferentes son las personas. Si necesitas una Van pequeña o un amplio y confortable bus, es tuyo. Nuestros conductores son amables y atentos. Por el destino no te preocupes, tú escoge la ruta y nosotros te llevaremos por el camino más seguro.
	.somos_transporte
		img(src="img/somos_transporte.png", alt="servicios empresariales")

	section.servicios.nr-max-width.bg--blanco
		div.wrap
			.servicios__info
				h2.title.title--sub2 Paquetes a tu medida
				p.text--gris-medium Queremos que todo sea sencillo para tí, así que armamos estos convenientes paquetes qie cubren las necesidades mas solicitadas y siempre a tu medida ;) pero si lo tuyo es algo más específico sólo escríbenos y tendremos excelentes opciones para tí. ¡Te esperamos! 

			.servicios__item.transporte
				.servicio.ejecutivo
					img(src="img/ventaja1_transporte.png", class="image-responsive", alt="servicio ejecutivo")
					h3.title.title--sub3 Seguridad
					p.text--gris-medium Tu bienestar es vital para nosotros, es por ello que ocupamos vehiculos modernos y seguros.
					
				.servicio.ejecutivo
					img(src="img/ventaja2_transporte.png", class="image-responsive", alt="servicio de transporte")
					h3.title.title--sub3 Calidad
					p.text--gris-medium Disfruta de la máxima satisfacción al experimentar un servicio con cuidado en los detalles.
					

				.servicio.ejecutivo
					img(src="img/ventaja3_transporte.png", class="image-responsive", alt="servicio de turismo")
					h3.title.title--sub3 Puntualidad
					p.text--gris-medium Sabemos que no hay tiempo que perder, es por ello que llegamos 15min. antes de lo solicitado.

			.btn__contacto
				a(href="#") Contáctanos
					
	section.contacto.nr-max-width.bg--gris-medium
		div.wrap
				h2.title.title--sub2.text--blanco ¿Por qué elegirnos?
				p.text--blanco Porque amamos lo que hacemos, en consecuencia brindamos nuestros servicios con el mayor de los gustos. Contamos además con una flota moderna con no más de 5 años de antigüedad. Pensamos siempre en tu seguridad y por sobretodas las cosas estás siempre en primer lugar. ¡No esperes más y contáctanos, estamos esperando por tí!
				.btn__contacto
					a(href="#") Contáctanos
	include footer.jade