<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Turismo
	link(rel="stylesheet", href="style.css")
	link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic', rel='stylesheet', type='text/css')
body
	//- include header.jade
	main.main.nr-max-width.bg--verde
		div.wrap
			article
				img(src="img/portada.png", class="img-responsive", alt="portada transfields")
				h1.title.title--main Chile te está esperando
				p.text--white Vive la experiencia de encontrarte con Chile y sus maravillosos destinos, conoce su historia viva y degusta sus exquisitos platillos. Contrata un paquete a tu medida. ¡CHILE TE ESPERA!
			.contact__form
				.contact__information
					p Llámanos
					.fono
						p 9 000 7317
					p o escríbenos
				.contact__formulario
					form(action="", method="POST", class="form")
						.form__group
							label(for="nombre") Nombre
							input(type="text", name="nombre", id="nombre", placeholder="Tu nombre")
						.form__group
							label(for="nombre") Email
							input(type="text", name="nombre", id="nombre", placeholder="Tu email")
						.form__gorup
							label(for="nombre") Telefono
							input(type="text", name="nombre", id="nombre", placeholder="Tu teléfono")
						.form__group
							label(for="nombre") Mensaje
							textarea(type="nombre", name="nombre", id="nombre", placeholder="Tu Mensaje")
						.form__submit
							input(type="submit", value="Contáctanos")

	section.flota.nr-max-width.bg--verde-dark
		div.wrap
			h3.title.title--sub3 Destinos increíbles
			h3.title.title--sub3 Viajes seguros 
			h3.title.title--sub3 Confort y amabilidad

	section.que_hacemos.nr-max-width.bg--blanco
		div.wrap
			h2.title.title--sub2.text--gris--dark ¿Que hacemos?
			p Tenemos recorridos turísticos pensados especialmente para ti. Te enseñaremos Chile y sus maravillas. Existen lugares fabulosos con los que soñarías y nosotros los acercaremos a tí en vehículos seguros y confortables. Contamos con unidades para todo tipo de grupos, desde los más pequeños si prefieres un viaje íntimo, así como Vans o buses si lo tuyo es disfrutar en grupo con familia y amigos.
	.divider_autos
		img(src="img/que_hacemos.png", class="img-responsive", alt="servicios empresariales")

	section.servicios.nr-max-width.bg--verde-dark
		div.wrap
			.servicios__info.turismo
				h2.title.title--sub2.text--gris-dark Paquetes a tu medida
				p.text--white Tenemos recorridos turísticos pensados especialmente para ti. Te enseñaremos Chile y sus maravillas. Existen lugares fabulosos con los que soñarías y nosotros los acercaremos a tí en vehículos seguros y confortables. Contamos con unidades para todo tipo de grupos, desde los más pequeños si prefieres un viaje íntimo, así como Vans o buses si lo tuyo es disfrutar en grupo con familia y amigos.

			.servicios__item.turismo
				.servicio.ejecutivo
					img(src="img/servicio_ejecutivo.png", class="image-responsive", alt="servicio ejecutivo")
					h3.title.title--sub3 Cordillera
					p Tour a Farellones, Colorado, La Parva, por el día, por bus
					table.normal
						tr
							th 1 a 10 pers.
							th $160.000
							th US$225
						tr
							th de 11 a 19 pers.
							th $210.000
							th US$295
						tr
							th de 20 a 30 pers.
							th $280.000
							th US$393

					small *Guía turístico no incluido (valor app US$100)
					br
					br
					br
				.servicio.ejecutivo
					img(src="img/servicio_transporte.png", class="image-responsive", alt="servicio de transporte")
					h3.title.title--sub3 VIÑA del Mar
					p Santiago-Viña-Valparaíso-Santiago, por el día, precio por bus

					table.normal

						tr
							th 1 a 10 pers.
							th $160.000
							th US$225
						tr
							th de 11 a 19 pers.
							th $190.000
							th US$266
						tr
							th de 20 a 30 pers.
							th $260.000
							th US$365

					small *Guía turístico no incluido (valor app US$100)
					br
					br
					br
				.servicio.ejecutivo
					img(src="img/servicio_turismo.png", class="image-responsive", alt="servicio de turismo")
					h3.title.title--sub3 Viña Concha y Toro
					p Santiago-Viña Concha y Toro-Santiago, precio por bus
					
					table.normal
						tr
							th 1 a 10 pers.
							th $100.000
							th US$140
						tr
							th de 11 a 19 pers.
							th $120.000
							th US$168
						tr
							th de 20 a 30 pers.
							th $160.000
							th US$225

					small El valor de la entrada es adicional, varía entre $12.000 y $22.000 (con Somelier) incluye guía y degustaciones. El servicio debe ser coordinado 24hrs. antes de realizarse.

				.btn__contacto
					a(href="#") Contáctanos

	section.contacto.nr-max-width.bg--gris-medium
		div.wrap
				h2.title.title--sub2 ¿Por qué elegirnos?
				p Porque conocemos y amamos Chile tanto como se puede y nos encantará compartir contigo lo grandioso de ésta tierra que nos vio nacer. Chile no es un destino más; es cultura, tradición y modernidad. La tierra de Neruda te está esperando y nosotros estaremos gustosos de compratir esta inolvidable experiencia contigo. No esperes más ¡Comunícate con nosotros que esperamos por ti!
				.btn__contacto
					a(href="#") Contáctanos
	//- include footer.jade