<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Turismo
	link(rel="stylesheet", href="style.css")
	link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic', rel='stylesheet', type='text/css')
body
	include header.jade
	main.main.nr-max-width.bg--verde#contactanos
		div.wrap
			article.turismo
				h2.title.title--main.text--blanco Chile te está esperando
				img(src="img/banner_turismo.jpg", class="img-responsive", alt="portada turismo")
				p.text--important2.text--blanco Vive la experiencia de encontrarte con Chile y sus maravillosos destinos, conoce su historia viva y degusta sus exquisitos platillos. Contrata un paquete a tu medida. ¡CHILE TE ESPERA!
			.contact__form
				.contact__information
					p Llámanos
					.fono
						p 56 226961510
						p.small Cel 990007317
					p o escríbenos
				.contact__formulario
					form(action="mailer.php", method="POST", class="form")
						.form__group
							label(for="nombre") Nombre
							input(type="text", name="nombre", id="nombre", placeholder="Tu nombre")
						.form__group
							label(for="correo") Email
							input(type="correo", name="correo", id="correo", placeholder="Tu email")
						.form__group
							label(for="telefono") Telefono
							input(type="text", name="telefono", id="telefono", placeholder="Tu teléfono")
						.form__group
							label(for="mensaje") Mensaje
							textarea(name="mensaje", cols="10", rows="5", id="mensaje", placeholder="Tu Mensaje")
						.form__submit
							input(type="submit", value="Contáctanos")
						#form-messages

	section.flota_turismo.nr-max-width.bg--blanco
		img(src="img/ventajas_turismo.png", alt="")

	section.que_hacemos.nr-max-width.bg--blanco.turismo
		div.wrap
			h2.title.title--sub2.text--gris-medium ¿Que hacemos?
			br
			p.text--gris-medium Tenemos recorridos turísticos pensados especialmente para ti. Te enseñaremos Chile y sus maravillas. Existen lugares fabulosos con los que soñarías y nosotros los acercaremos a tí en vehículos seguros y confortables. Contamos con unidades para todo tipo de grupos, desde los más pequeños si prefieres un viaje íntimo, así como Vans o buses si lo tuyo es disfrutar en grupo con familia y amigos.
	
	section.somos_turismo.nr-max-width.bg--verde-dark
		img(src="img/somos_turismo.jpg", alt="servicios empresariales")

	section.servicios.nr-max-width.bg--verde-dark
		div.wrap
			.servicios__info.turismo
				h2.title.title--sub2.text--blanco Paquetes a tu medida
				br
				p.text--blanco Tenemos recorridos turísticos pensados especialmente para ti. Te enseñaremos Chile y sus maravillas. Existen lugares fabulosos con los que soñarías y nosotros los acercaremos a tí en vehículos seguros y confortables. Contamos con unidades para todo tipo de grupos, desde los más pequeños si prefieres un viaje íntimo, así como Vans o buses si lo tuyo es disfrutar en grupo con familia y amigos.

			.servicios__item.turismo
				.servicio
					img(src="img/paquete1_turismo.jpg", class="image-responsive", height="260", alt="servicio ejecutivo")
					.servicio-position
						h3.title.title--sub3.text--purpura Cordillera
						p Tour a Farellones, Colorado, La Parva, por el día, por bus
						table.normal
							tr
								th 1 a 10 pers.
								th $160.000
								th.text--purpura US$225
							tr
								th de 11 a 19 pers.
								th $210.000
								th.text--purpura US$295
							tr
								th de 20 a 30 pers.
								th $280.000
								th.text--purpura US$393
						br
						small *Guía turístico no incluido (valor app US$100)
						br
						br
						br
				.servicio
					img(src="img/paquete2_turismo.jpg", class="image-responsive", alt="servicio de transporte")
					.servicio-position
						h3.title.title--sub3.text--purpura Viña del Mar
						p Santiago-Viña-Valparaíso-Santiago, por el día, precio por bus

						table.normal
							tr
								th 1 a 10 pers.
								th $160.000
								th.text--purpura US$225
							tr
								th de 11 a 19 pers.
								th $190.000
								th.text--purpura US$266
							tr
								th de 20 a 30 pers.
								th $260.000
								th.text--purpura US$365
						br
						small *Guía turístico no incluido (valor app US$100)
						br
						br
						br
				.servicio
					img(src="img/paquete3_turismo.jpg", class="image-responsive", alt="servicio de turismo")
					.servicio-position
						h3.title.title--sub3.text--purpura Viña Concha y Toro
						p Santiago-Viña Concha y Toro-Santiago, precio por bus
						
						table.normal
							tr
								th 1 a 10 pers.
								th $100.000
								th.text--purpura US$140
							tr
								th de 11 a 19 pers.
								th $120.000
								th.text--purpura US$168
							tr
								th de 20 a 30 pers.
								th $160.000
								th.text--purpura US$225
						br
						small El valor de la entrada es adicional, varía entre $12.000 y $22.000 (con Somelier) incluye guía y degustaciones. El servicio debe ser coordinado 24hrs. antes de realizarse.

				.btn__contacto
					a(href="javascript:$.scrollTo('#contactanos',800);") Contáctanos

	section.contacto.nr-max-width.bg--gris-medium
		div.wrap
				h2.title.title--sub2.text--blanco ¿Por qué elegirnos?
				br
				p.text--blanco Porque conocemos y amamos Chile tanto como se puede y nos encantará compartir contigo lo grandioso de ésta tierra que nos vio nacer. Chile no es un destino más; es cultura, tradición y modernidad. La tierra de Neruda te está esperando y nosotros estaremos gustosos de compratir esta inolvidable experiencia contigo. No esperes más ¡Comunícate con nosotros que esperamos por ti!
				.btn__contacto
					a(href="javascript:$.scrollTo('#contactanos',800);") Contáctanos
	include footer.jade

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type='text/javascript', charset='utf-8')
script(src='js/main.js')
script(type='“text/javascript”', src='“js/jquery-2.1.4.js”')
script(type='“text/javascript”', src='“js/jquery.scrollTo.js”')